[Unit]
Description=Apparmor notification
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=forking
ExecStart=/usr/bin/aa-notify -p -s 1 -w 60 -f /var/log/audit/audit.log


[Install]
WantedBy=sway-session.target
