[Unit]
Description=Apparmor notification
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/aa-notify -p -s 1 -w 60 -f /var/log/audit/audit.log


[Install]
WantedBy=graphical-session.target
