[Unit]
Description=Notify when battery level is low
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=%h/.local/bin/battery-low-notify

[Install]
WantedBy=hyprland-session.target
