[Unit]
Description=Notify when battery level is low
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=%h/.local/bin/battery-low-notify

[Install]
WantedBy=sway-session.target
