[Unit]
Description=Mailbox synchronization timer

[Timer]
# Time to wait after booting before offlineimap.service is run for the first time
OnBootSec=1min
# Time between running each consecutive time
OnUnitActiveSec=30s
Unit=checkmail.service

[Install]
WantedBy=timers.target
