[Unit]
Description=Daily backup laptop with deja-dup

[Timer]
OnCalendar=*-*-* 20:00:00
RandomizedDelaySec=10min
Persistent=true
WakeSystem=false

[Install]
WantedBy=timers.target
