[Unit]
Description=Auto display switch with DDC
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/display_switch
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
