[Unit]
Description=Auto display switch with DDC
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/display_switch
Restart=on-failure

[Install]
WantedBy=sway-session.target
