[Unit]
Description=Audio effects for PipeWire applications
PartOf=hyprland-session.target
After=pipewire.service
Wants=pipewire.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/easyeffects --gapplication-service
Slice=session.slice

[Install]
WantedBy=hyprland-session.target
