[Unit]
Description=Perform windows animations on focus
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/flashfocus

[Install]
WantedBy=sway-session.target
