[Unit]
Description=Gocryptfs automount on ~/Vault access

[Service]
Type=simple
ExecStart=%h/.local/bin/gocryptfs-automount 30
Restart=always

[Install]
WantedBy=default.target
