[Unit]
Description=Autoname Hyprland workspaces
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/hyprland-autoname-workspaces
Restart=always
RestartSec=10s

[Install]
WantedBy=hyprland-session.target
