[Unit]
Description=Run mbsync and notmuch 2 minutes after boot and every 10minutes

[Timer]
# Time to wait after booting before offlineimap.service is run for the first time
OnBootSec=2min
# Time between running each consecutive time
OnUnitActiveSec=10min
Unit=mailsync.service

[Install]
WantedBy=timers.target
