[Unit]
Description=NetworkManager applet
Documentation=https://wiki.gnome.org/Projects/NetworkManager/
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=hyprland-session.target
