[Unit]
Description=NetworkManager applet
Documentation=https://wiki.gnome.org/Projects/NetworkManager/
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=sway-session.target
