[Unit]
Description=PulseEffects audio mixer
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/pulseeffects --gapplication-service
Restart=always

[Install]
WantedBy=sway-session.target
