[Unit]
Description=PulseEffects audio mixer
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/pulseeffects --gapplication-service
Restart=always

[Install]
WantedBy=hyprland-session.target
