[Unit]
Description=Backup my laptop

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Type=oneshot
ExecStart=/bin/bash -c "%h/.local/bin/backitup -a -p DAILY -l $HOME/.cache/restic.lastrun -b %h/.local/bin/restic-backup"
