[Unit]
Description=Daily backup laptop with restic

[Timer]
OnCalendar=*-*-* 19:00:00
RandomizedDelaySec=30min
Persistent=true
WakeSystem=false

[Install]
WantedBy=timers.target
