[Unit]
Description=Backup my laptop

[Service]
Type=simple
Nice=19
Environment=SSH_AUTH_SOCK=/run/user/1000/gnupg/S.gpg-agent.ssh
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=%h/bin/backitup -p -a -p DAILY -l $HOME/.restic.lastrun -b "$HOME/bin/restic-backup"
