[Unit]
Description=Swayidle idle manager in powersaving mode
PartOf=lock.target

[Service]
ExecStart=/usr/bin/swayidle \
  timeout 120 '/usr/bin/systemctl --user stop wluma.service; /usr/bin/swaymsg "output * dpms off"' \
  resume '/usr/bin/swaymsg "output * dpms on"; /usr/bin/systemctl --user start wluma.service'
ExecStopPost=/bin/bash -c '/usr/bin/swaymsg "output * dpms on"; /usr/bin/systemctl --user start wluma.service'


[Install]
WantedBy=lock.target
