[Unit]
Description=Keep signal-destkop synced in the back
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/signal-destkop --start-in-tray

[Install]
WantedBy=graphical-session.target
