[Unit]
Description=Keep signal-destkop synced in the back
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/signal-desktop --start-in-tray

[Install]
WantedBy=hyprland-session.target
