[Unit]
Description=Local socks proxy to proxychains

[Service]
ExecStart=/usr/bin/proxychains microsocks -i 127.0.0.1 -p 1080
Restart=always
RestartSec=10

# Sandboxing features
MemoryDenyWriteExecute=yes
PrivateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
RestrictNamespaces=uts ipc pid user cgroup
ProtectKernelTunables=yes
ProtectKernelModules=no
ProtectControlGroups=yes
PrivateDevices=no
RestrictSUIDSGID=true

[Install]
WantedBy=default.target
