[Unit]
Description=Linux manager for Logitech's devices that connect via USB Unifying
Documentation=https://github.com/pwr-Solaar/Solaar
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/solaar --window=hide --restart-on-wake-up -b symbolic
Slice=background.slice

[Install]
WantedBy=graphical-session.target
