[Unit]
Description=Swayr daemon
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/swayrd
Restart=always
RestartSec=10s
StandardOutput=null

[Install]
WantedBy=sway-session.target
