[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
Requires=graphical-session.target
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle \
  timeout 1800 'systemctl --user stop wluma; swaymsg "output * dpms off"' \
  resume 'swaymsg "output * dpms on; systemctl --user start wluma"'

# Note: Because swayidle runs as a service, systemd won't identify it as part
# of the user session. It's unconfirmed if lock/unlock are triggered correctly.

[Install]
WantedBy=graphical-session.target
