[Unit]
Description=Screen locker for Wayland
OnSuccess=unlock.target
PartOf=lock.target

[Service]
ExecStart=%h/.local/bin/sway-exit lock
Restart=on-failure
RestartSec=0

[Install]
WantedBy=lock.target
