[Unit]
Description=Sway audio idle inhibiter
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/sway-audio-idle-inhibit
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=sway-session.target
