[Unit]
Description=Screen locker for Wayland
OnSuccess=unlock.target
PartOf=lock.target
# Delay lock.target until this service is ready:
After=lock.target

[Service]
# systemd will consider this service started when swaylock forks.
# swaylock will fork only after it has locked the screen.
Type=forking
ExecStart=%h/.local/bin/exit-wm lock

[Install]
WantedBy=lock.target
