[Unit]
Description=Autoname sway workspaces
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=%h/.local/bin/sway-autoname-workspaces -d
Restart=always
RestartSec=10s

[Install]
WantedBy=sway-session.target
