[Unit]
Description=Show desktop notifications for earlyoom
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/systembus-notify -q

[Install]
WantedBy=hyprland-session.target
