[Unit]
Description=Show desktop notifications for earlyoom
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/systembus-notify -q

[Install]
WantedBy=sway-session.target
