[Unit]
Description=Tarsnap timer

[Timer]
Unit=tarsnap.service
OnCalendar=hourly
RandomizedDelaySec=30
Persistent=True

[Install]
WantedBy=timers.target
