[Unit]
Description=Tarsnap paperwork backup

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Type=oneshot
ExecStart=/bin/bash -c "%h/.local/bin/backitup -p DAILY -l %h/.cache/tarsnap-dematerialisation.lastrun -b %h/.local/bin/tarsnap-dematerialisation"
