[Unit]
Description=Automatically mount newly inserted USB drives
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/udiskie

[Install]
WantedBy=hyprland-session.target
