[Unit]
Description=Automatically mount newly inserted USB drives
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/udiskie

[Install]
WantedBy=sway-session.target
