[Unit]
Description=Eyes detection for waybar-eyes
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=
ExecStart=/usr/bin/waybar-eyes -d 2 -m /usr/share/waybar-eyes/models/haarcascade_frontalface_default.xml
Restart=on-failure

[Install]
WantedBy=graphical-session.target
