[Unit]
Description=Clipboard manager daemon
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=%h/.local/bin/wl-clipboard-manager daemon
Restart=always
RestartSec=10s

[Install]
WantedBy=hyprland-session.target
