[Unit]
Description=Day/night gamma adjustments
PartOf=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 48.866667 -L 2.333333 -t 3500
Restart=on-failure

[Install]
WantedBy=sway-session.target
