[submodule ".config/kak/restclient.kak"]
	path = .config/kak/restclient.kak
	url = https://github.com/maximbaz/restclient.kak
[submodule ".config/mpv/uosc"]
	path = .config/mpv/uosc
	url = https://github.com/darsain/uosc/
[submodule ".config/xplr/trash-cli"]
	path = .config/xplr/trash-cli
	url = https://github.com/sayanarijit/trash-cli.xplr.git
[submodule ".config/kak/pandoc"]
	path = .config/kak/pandoc
	url = https://github.com/basbebe/pandoc.kak.git
[submodule ".config/kak/auto-pairs.kak"]
	path = .config/kak/auto-pairs.kak
	url = https://github.com/alexherbo2/auto-pairs.kak.git
[submodule ".config/easyeffects/output"]
	path = .config/easyeffects/output
	url = https://github.com/Digitalone1/EasyEffects-Presets.git
[submodule ".config/mpv/scripts/sponsorblock"]
	path = .config/mpv/scripts/sponsorblock
	url = https://github.com/maximbaz/mpv_sponsorblock.git
[submodule ".config/kak/prelude.kak"]
   path = .config/kak/prelude.kak
   url = https://github.com/kakounedotcom/prelude.kak.git
[submodule ".config/kak/sudo-write.kak"]
    path = .config/kak/sudo-write.kak
    url = https://github.com/occivink/kakoune-sudo-write.git
[submodule ".config/xplr/wl-clipboard"]
	path = .config/xplr/wl-clipboard
	url = https://github.com/sayanarijit/wl-clipboard.xplr.git
