[user]
  signingkey = 0x8538D68543979A20
  name = Cyril Levis
  email = cyril@levis.name
  useConfigOnly = true
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  bdr = !git branch --merged | egrep -v \"(master|dev)\" | xargs git branch -d
  pushall = !git remote | xargs -L1 git push --all
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
[branch]
  autosetuprebase = always

[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "status"]
  added = green
  changed = yellow
  untracked = blue
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[core]
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore
  untrackedCache = true
  pager = less
  editor = kak
[commit]
  gpgsign = true
  template = ~/.gitmessage
[diff]
    tool = kitty
[difftool]
  prompt = false
  trustExitCode = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[merge]
  tool = meld
[mergetool]
  keepBackup = false
  prompt = false
[diff "gpg"]
  binary = true
  textconv = gpg2 --decrypt --quiet --yes --compress-algo=none --no-encrypt-to --batch --use-agent
[push]
  default = current
[rebase]
  autostash = true
  autosquash = true
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[includeIf "gitdir:~/library/src/work/"]
  path = ~/.gitconfig.work
