.tarsnap.key filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.ppk filter=git-crypt diff=git-crypt
.ssh/*  filter=git-crypt diff=git-crypt
.config/gtk-3.0/bookmarks filter=git-crypt diff=git-crypt 
.config/gtk-3.0/servers filter=git-crypt diff=git-crypt
.weechat/sec.conf filter=git-crypt diff=git-crypt
.weechat/irc.conf filter=git-crypt diff=git-crypt
.weechat/certs filter=git-crypt diff=git-crypt
.m2/settings.xml filter=git-crypt diff=git-crypt
.gradle/gradle.properties filter=git-crypt diff=git-crypt
.config/urlwatch/urls.yaml filter=git-crypt diff=git-crypt
.config/urlwatch/urlwatch.yaml filter=git-crypt diff=git-crypt
.npmrc filter=git-crypt diff=git-crypt
.config/vdirsync/config filter=git-crypt diff=git-crypt
.config/neomutt/*.notmuchrc filter=git-crypt diff=git-crypt
bin/mailsync-personal filter=git-crypt diff=git-crypt
bin/jira-popup filter=git-crypt diff=git-crypt
bin/exploit filter=git-crypt diff=git-crypt
.config/keepmenu/config.ini filter=git-crypt diff=git-crypt
etc/tor/torrc filter=git-crypt diff=git-crypt
.gitconfig.work filter=git-crypt diff=git-crypt
.pinboardrc filter=git-crypt diff=git-crypt
.config/mopidy/mopidy.conf filter=git-crypt diff=git-crypt

