*.cache
.config/cni/net.d
.config/display-switch/display-switch.ini
.config/environment.d/60-wayland.conf
.config/gh/hosts.yml
.config/git/templates
.config/gtk-3.0/bookmarks
.config/imapnotify
.config/qutebrowser/greasemonkey/requires
.config/waybar/livestatus.toml
*.db
etc/containers
exegol
.local/bin/backup-mailserver
.local/bin/checkmail
.local/share/applications/FFPWA-*.desktop
