SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/cyril/bin/set-brightness bat"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/cyril/bin/set-brightness ac"
