#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Plex
Exec=/usr/bin/chromium --profile-directory=Default --app-id=ohopglbmpjhficbphaopjcigeoibpjhi
Icon=chrome-ohopglbmpjhficbphaopjcigeoibpjhi-Default
StartupWMClass=crx_ohopglbmpjhficbphaopjcigeoibpjhi
