# converted by firecfg
[Desktop Entry]
Version=1.0
Name=Chromium
GenericName=Web Browser
Comment=Access the Internet
Exec=chromium --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer --ozone-platform=wayland %U
StartupNotify=true
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=chromium --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer --ozone-platform=wayland

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=chromium --incognito --enable-features=UseOzonePlatform --ozone-platform=wayland
