[Desktop Entry]
Name=nnn
Comment=File manager
Exec=/usr/bin/kitty --class nnn /usr/bin/nnn
Type=Application
Icon=system-file-manager
Categories=ConsoleOnly;System;FileTools;FileManager;
MimeType=inode/directory;
StartupNotify=true
