[Desktop Entry]
Name=Red Eclipse 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/967460
Icon=steam_icon_967460
Terminal=false
Type=Application
Categories=Game;
