[Desktop Entry]
Type=Application
Name=work (qutebrowser profile)
Icon=qutebrowser
Exec=qutebrowser -B /home/cyril/.local/share/qutebrowser-profiles/work --qt-arg name work %u
Categories=['Network']
Terminal=False
StartupNotify=True

