[Unit]
Description=Backup pacman repository to %I

[Service]
Type=oneshot
User=cyril
EnvironmentFile=/etc/systemd/system/backup-repo@%i
ExecStart=/usr/bin/rsync --archive --partial --delete --verbose ${LOCAL_PATH} ${REMOTE_ADDR}:${REMOTE_PATH}
ExecStart=/usr/bin/ssh ${REMOTE_ADDR} "/var/services/homes/cyril/bin/rename -- '-local' '' ${REMOTE_PATH}/*"
ExecStart=/usr/bin/ssh ${REMOTE_ADDR} "/var/services/homes/cyril/bin/rename -s -- '-local' '' ${REMOTE_PATH}/* || true"
ExecStart=/usr/bin/rsync --archive --partial --delete --verbose ${LOCAL_PATH_AURUTILS} ${REMOTE_ADDR}:${REMOTE_PATH_AURUTILS}
