[Unit]
Description=Unbind device which causes suspend to fail
Before=sleep.target

[Service]
Type=simple
ExecStart=-/bin/sh -c '/bin/echo -n "0000:00:14.0" > /sys/bus/pci/drivers/xhci_hcd/unbind'

[Install]
WantedBy=sleep.target
